In [1]:
import requests
import json
import re
import pandas as pd
import csv
import time
import datetime
import seaborn as sns

In [2]:
## This gets all reddit titles during 2018. Compare this with actual returns to see if abnormal or not. However, change 
# period to weekly or monthly and make a correlation of number of titles and stock returns.

# To get each month maybe find the datecode for each month and iterate through each but store in monthly variables.
# To do this I need to change to when each date has been exhausted, it moves to next period and to the next storage list.


# getData function requests the data from reddit's pushshift API with the firm and parameter requirements, further seen below.
def getData(after, firm):

    url = 'https://api.pushshift.io/reddit/search/submission?&size=1000&after='+str(after)+'&subreddit='+str(firm)

    r = requests.get(url)

    data = json.loads(r.text)

    return data['data']


#list to store posts during each month


# Codes for dates for each month
jan_date = 1514764800 # 1st Jan 2018
feb_date = 1517443200 # 1st Feb 2018
mar_date = 1519862400 # 1st March 2018
apr_date = 1522540800 # 1st April 2018
may_date = 1525132800 # 1st May 2018
jun_date = 1527811200 # 1st June 2018
jul_date = 1530403200 # 1st July 2018
aug_date = 1533081600 # 1st August 2018
sep_date = 1535760000 # 1st September 2018
oct_date = 1538352000 # 1st October 2018
nov_date = 1541030400 # 1st November 2018
dec_date = 1543622400 # 1st December 2018
jan_2019_date = 1546300800 # 1st Jan 2019

# Firm of interest
firm = 'Microsoft'
after = jan_date

data = getData(after, firm)

In [3]:
# From the requested results, I make a function to store the data for each month in a list.
def month_storer(data2):

    jan_posts = []
    feb_posts = []
    mar_posts = []
    apr_posts = []
    may_posts = []
    jun_posts = []
    jul_posts = []
    aug_posts = []
    sep_posts = []
    oct_posts = []
    nov_posts = []
    dec_posts = []

    while len(data2) > 0:  
           
        for submission in data2:
            if submission["created_utc"] <= feb_date:
                jan_posts.append(submission["created_utc"])
           
            elif submission["created_utc"] > feb_date and submission["created_utc"] <= mar_date:
                feb_posts.append(submission["created_utc"])
            
            elif submission["created_utc"] > mar_date and submission["created_utc"] <= apr_date:
                mar_posts.append(submission["created_utc"])
            
            elif submission["created_utc"] > apr_date and submission["created_utc"] <= may_date:
                apr_posts.append(submission["created_utc"])
            
            elif submission["created_utc"] > may_date and submission["created_utc"] <= jun_date:
                may_posts.append(submission["created_utc"])
            
            elif submission["created_utc"] > jun_date and submission["created_utc"] <= jul_date:
                jun_posts.append(submission["created_utc"])
            
            elif submission["created_utc"] > jul_date and submission["created_utc"] <= aug_date:
                jul_posts.append(submission["created_utc"])
            
            elif submission["created_utc"] > aug_date and submission["created_utc"] <= sep_date:
                aug_posts.append(submission["created_utc"])
            
            elif submission["created_utc"] > sep_date and submission["created_utc"] <= oct_date:
                sep_posts.append(submission["created_utc"])
            
            elif submission["created_utc"] > oct_date and submission["created_utc"] <= nov_date:
                oct_posts.append(submission["created_utc"])
            
            elif submission["created_utc"] > nov_date and submission["created_utc"] <= dec_date:
                nov_posts.append(submission["created_utc"])
            
            elif submission["created_utc"] > dec_date and  submission["created_utc"] <= jan_2019_date:
                dec_posts.append(submission["created_utc"])
                
        data2 = getData(firm=firm, after=int(data2[-1]['created_utc']))
                
    return len(jan_posts), len(feb_posts), len(mar_posts), len(apr_posts), len(may_posts), len(jun_posts), len(jul_posts), len(aug_posts), len(sep_posts), len(oct_posts), len(nov_posts), len(dec_posts)
        
# Calls getData() with the created date of the last submission


#print(len(jan_posts), len(feb_posts), len(mar_posts), len(apr_posts), len(may_posts), len(jun_posts), len(jul_posts), len(aug_posts), len(sep_posts), len(oct_posts), len(nov_posts), len(dec_posts))

# Here, I make a function to store into a DataFrame: each companies monthly statistics.
def company_df(monthly_data):
    return pd.DataFrame(monthly_data, columns = ['monthly_posts'], index={0:'Jan', 1:'Feb', 2:'Mar', 3:'Apr', 4:'May', 5:'Jun', 6:'Jul', 7:'Aug', 8:'Sep', 9:'Oct', 10:'Nov', 11:'Dec'})

#print(getData(after, before, firm))

In [4]:
month_storer(data)

(406, 409, 513, 555, 620, 588, 512, 477, 480, 599, 522, 395)

In [5]:
print(company_df(month_storer(getData(after, 'CVS'))))

    monthly_posts
0               6
1              15
2              22
3              28
4              40
5              48
6              72
7              63
8              72
9              91
10            147
11            185

In [6]:
# Make a dataframe for Nike's frequency of monthly posts during 2018.

Nike_data = company_df(month_storer(getData(after, 'Nike')))
Microsoft_data = company_df(month_storer(getData(after, 'Microsoft')))
CVS_data = company_df(month_storer(getData(after, 'CVS')))
Walmart_data = company_df(month_storer(getData(after, 'Walmart')))
Boeing_data = company_df(month_storer(getData(after, 'Boeing')))
Fedex_data = company_df(month_storer(getData(after, 'Fedex')))
Accenture_data = company_df(month_storer(getData(after, 'Accenture')))

In [7]:
print(Nike_data)

    monthly_posts
0             149
1             149
2             184
3             179
4             142
5             168
6             467
7             477
8             480
9             599
10            522
11            395

In [8]:
"""
The analysis will be based on comparing large cap VS Small cap companies as well as industries.
From the apparel industry: Nike (137Bn Cap) VS Abercrombie & Fitch (1.21Bn Cap)

Above did not work as there are not enough posts for small cap companies to show significance.

Consumer goods (Nike), Tech (Microsoft), Health care (CVS), Consumer service (Walmart), Capital goods (Boeing), 
Transportation (Fedex), Miscellaneous (Accenture)
"""

'\nThe analysis will be based on comparing large cap VS Small cap companies as well as industries.\nFrom the apparel industry: Nike (137Bn Cap) VS Abercrombie & Fitch (1.21Bn Cap)\n\nAbove did not work as there are not enough posts for small cap companies to show significance.\n\nConsumer goods (Nike), Tech (Microsoft), Health care (CVS), Consumer service (Walmart), Capital goods (Boeing), \nTransportation (Fedex), Miscellaneous (Accenture)\n'

In [36]:
# Import the CSV file with Nike's stock prices during 2018
Nike_stock_data = pd.read_csv('../Nike_stock_returns.csv')
Microsoft_stock_data = pd.read_csv('../Microsoft_stock_returns.csv')
CVS_stock_data = pd.read_csv('../CVS_stock_returns.csv')
Walmart_stock_data = pd.read_csv('../Walmart_stock_returns.csv')
Boeing_stock_data = pd.read_csv('../Boeing_stock_returns.csv')
Fedex_stock_data = pd.read_csv('../Fedex_stock_returns.csv')
Accenture_stock_data = pd.read_csv('../Accenture_stock_returns.csv')

In [37]:
"""
def CSV_cleaner(CSV_file):
    
    jan_data = pd.DataFrame()
    feb_data = []
    mar_data = []
    apr_data = []
    may_data = []
    jun_data = []
    jul_data = []
    aug_data = []
    sep_data = []
    oct_data = []
    nov_data = []
    dec_data = []

    for entry in Nike_stock_data:
        print(entry)
        '''
        if 'Jan' in entry['Date']:
            jan_data.append(entry)
        elif 'Feb' in Nike_stock_returns['Date']:
            feb_data.append(entry)
        elif 'Mar' in Nike_stock_returns['Date']:
            mar_data.append(entry)
        elif 'Apr' in Nike_stock_returns['Date']:
            apr_data.append(entry)
        elif 'May' in Nike_stock_returns['Date']:
            may_data.append(entry)
        elif 'Jun' in Nike_stock_returns['Date']:
            jun_data.append(entry)
        elif 'Jul' in Nike_stock_returns['Date']:
            jul_data.append(entry)
        elif 'Aug' in Nike_stock_returns['Date']:
            aug_data.append(entry)
        elif 'Sep' in Nike_stock_returns['Date']:
            sep_data.append(entry)
        elif 'Oct' in Nike_stock_returns['Date']:
            oct_data.append(entry)
        elif 'Nov' in Nike_stock_returns['Date']:
            nov_data.append(entry)
        elif 'Dec' in Nike_stock_returns['Date']:
            dec_data.append(entry)
            '''
    return jan_data, feb_data, mar_data, apr_data, may_data, jun_data, jul_data, aug_data, sep_data, oct_data, nov_data, dec_data
"""

"\ndef CSV_cleaner(CSV_file):\n    \n    jan_data = pd.DataFrame()\n    feb_data = []\n    mar_data = []\n    apr_data = []\n    may_data = []\n    jun_data = []\n    jul_data = []\n    aug_data = []\n    sep_data = []\n    oct_data = []\n    nov_data = []\n    dec_data = []\n\n    for entry in Nike_stock_data:\n        print(entry)\n        '''\n        if 'Jan' in entry['Date']:\n            jan_data.append(entry)\n        elif 'Feb' in Nike_stock_returns['Date']:\n            feb_data.append(entry)\n        elif 'Mar' in Nike_stock_returns['Date']:\n            mar_data.append(entry)\n        elif 'Apr' in Nike_stock_returns['Date']:\n            apr_data.append(entry)\n        elif 'May' in Nike_stock_returns['Date']:\n            may_data.append(entry)\n        elif 'Jun' in Nike_stock_returns['Date']:\n            jun_data.append(entry)\n        elif 'Jul' in Nike_stock_returns['Date']:\n            jul_data.append(entry)\n        elif 'Aug' in Nike_stock_returns['Date']:\n            aug_data.append(entry)\n        elif 'Sep' in Nike_stock_returns['Date']:\n            sep_data.append(entry)\n        elif 'Oct' in Nike_stock_returns['Date']:\n            oct_data.append(entry)\n        elif 'Nov' in Nike_stock_returns['Date']:\n            nov_data.append(entry)\n        elif 'Dec' in Nike_stock_returns['Date']:\n            dec_data.append(entry)\n            '''\n    return jan_data, feb_data, mar_data, apr_data, may_data, jun_data, jul_data, aug_data, sep_data, oct_data, nov_data, dec_data\n"

In [38]:
#print(CSV_cleaner(Nike_stock_data))

In [39]:
Nike_jan_data = Nike_stock_data[Nike_stock_data['Date'].str.contains("Jan") ]
Nike_feb_data = Nike_stock_data[Nike_stock_data['Date'].str.contains("Feb") ]
Nike_mar_data = Nike_stock_data[Nike_stock_data['Date'].str.contains("Mar") ]
Nike_apr_data = Nike_stock_data[Nike_stock_data['Date'].str.contains("Apr") ]
Nike_may_data = Nike_stock_data[Nike_stock_data['Date'].str.contains("May") ]
Nike_jun_data = Nike_stock_data[Nike_stock_data['Date'].str.contains("Jun") ]
Nike_jul_data = Nike_stock_data[Nike_stock_data['Date'].str.contains("Jul") ]
Nike_aug_data = Nike_stock_data[Nike_stock_data['Date'].str.contains("Aug") ]
Nike_sep_data = Nike_stock_data[Nike_stock_data['Date'].str.contains("Sep") ]
Nike_oct_data = Nike_stock_data[Nike_stock_data['Date'].str.contains("Oct") ]
Nike_nov_data = Nike_stock_data[Nike_stock_data['Date'].str.contains("Nov") ]
Nike_dec_data = Nike_stock_data[Nike_stock_data['Date'].str.contains("Dec") ]

In [40]:
def monthly_returns(stock_data):
    return (stock_data[stock_data['Date'] == max(stock_data['Date']) ]['Open'].item() / stock_data[stock_data['Date'] == min(stock_data['Date']) ]['Open'].item())

In [41]:
"""
Nike_jan_returns = monthly_returns(Nike_jan_data)
Nike_feb_returns = monthly_returns(Nike_feb_data)
Nike_mar_returns = monthly_returns(Nike_mar_data)
Nike_apr_returns = monthly_returns(Nike_apr_data)
Nike_may_returns = monthly_returns(Nike_may_data)
Nike_jun_returns = monthly_returns(Nike_jun_data)
Nike_jul_returns = monthly_returns(Nike_jul_data)
Nike_aug_returns = monthly_returns(Nike_aug_data)
Nike_sep_returns = monthly_returns(Nike_sep_data)
Nike_oct_returns = monthly_returns(Nike_oct_data)
Nike_nov_returns = monthly_returns(Nike_nov_data)
Nike_dec_returns = monthly_returns(Nike_dec_data)
"""

'\nNike_jan_returns = monthly_returns(Nike_jan_data)\nNike_feb_returns = monthly_returns(Nike_feb_data)\nNike_mar_returns = monthly_returns(Nike_mar_data)\nNike_apr_returns = monthly_returns(Nike_apr_data)\nNike_may_returns = monthly_returns(Nike_may_data)\nNike_jun_returns = monthly_returns(Nike_jun_data)\nNike_jul_returns = monthly_returns(Nike_jul_data)\nNike_aug_returns = monthly_returns(Nike_aug_data)\nNike_sep_returns = monthly_returns(Nike_sep_data)\nNike_oct_returns = monthly_returns(Nike_oct_data)\nNike_nov_returns = monthly_returns(Nike_nov_data)\nNike_dec_returns = monthly_returns(Nike_dec_data)\n'

In [42]:
#Nike_data_returns = [Nike_jan_returns, Nike_feb_returns, Nike_mar_returns, Nike_apr_returns, Nike_may_returns, Nike_jun_returns, Nike_jul_returns, Nike_aug_returns, Nike_sep_returns, Nike_oct_returns, Nike_nov_returns, Nike_dec_returns]

In [43]:
Nike_returns = [monthly_returns(Nike_jan_data), monthly_returns(Nike_feb_data), monthly_returns(Nike_mar_data), monthly_returns(Nike_apr_data), monthly_returns(Nike_may_data), monthly_returns(Nike_jun_data), monthly_returns(Nike_jul_data), monthly_returns(Nike_aug_data), monthly_returns(Nike_sep_data), monthly_returns(Nike_oct_data), monthly_returns(Nike_nov_data), monthly_returns(Nike_dec_data)]

In [44]:
Nike_data.insert(1, "Monthly returns", Nike_returns, True)

In [45]:
Nike_data

    monthly_posts  Monthly returns  Monthly returns  Monthly returns
0             149         1.073986         1.073986         1.073986
1             149         1.006354         1.006354         1.006354
2             184         0.977097         0.977097         0.977097
3             179         1.054722         1.054722         1.054722
4             142         1.059135         1.059135         1.059135
5             168         1.092069         1.092069         1.092069
6             467         0.972767         0.972767         0.972767
7             477         1.062092         1.062092         1.062092
8             480         1.061721         1.061721         1.061721
9             599         0.887192         0.887192         0.887192
10            522         0.986043         0.986043         0.986043
11            395         0.959533         0.959533         0.959533

In [46]:
Microsoft_jan_data = Microsoft_stock_data[Microsoft_stock_data['Date'].str.contains("Jan") ]
Microsoft_feb_data = Microsoft_stock_data[Microsoft_stock_data['Date'].str.contains("Feb") ]
Microsoft_mar_data = Microsoft_stock_data[Microsoft_stock_data['Date'].str.contains("Mar") ]
Microsoft_apr_data = Microsoft_stock_data[Microsoft_stock_data['Date'].str.contains("Apr") ]
Microsoft_may_data = Microsoft_stock_data[Microsoft_stock_data['Date'].str.contains("May") ]
Microsoft_jun_data = Microsoft_stock_data[Microsoft_stock_data['Date'].str.contains("Jun") ]
Microsoft_jul_data = Microsoft_stock_data[Microsoft_stock_data['Date'].str.contains("Jul") ]
Microsoft_aug_data = Microsoft_stock_data[Microsoft_stock_data['Date'].str.contains("Aug") ]
Microsoft_sep_data = Microsoft_stock_data[Microsoft_stock_data['Date'].str.contains("Sep") ]
Microsoft_oct_data = Microsoft_stock_data[Microsoft_stock_data['Date'].str.contains("Oct") ]
Microsoft_nov_data = Microsoft_stock_data[Microsoft_stock_data['Date'].str.contains("Nov") ]
Microsoft_dec_data = Microsoft_stock_data[Microsoft_stock_data['Date'].str.contains("Dec") ]

In [47]:
Microsoft_returns = [monthly_returns(Microsoft_jan_data), monthly_returns(Microsoft_feb_data), monthly_returns(Microsoft_mar_data), monthly_returns(Microsoft_apr_data), monthly_returns(Microsoft_may_data), monthly_returns(Microsoft_jun_data), monthly_returns(Microsoft_jul_data), monthly_returns(Microsoft_aug_data), monthly_returns(Microsoft_sep_data), monthly_returns(Microsoft_oct_data), monthly_returns(Microsoft_nov_data), monthly_returns(Microsoft_dec_data)]

In [48]:
Microsoft_data.insert(1, "Monthly returns", Microsoft_returns, True)

In [49]:
Microsoft_data

    monthly_posts  Monthly returns  Monthly returns  Monthly returns
0             406         1.088597         1.073986         1.073986
1             409         1.000527         1.006354         1.006354
2             513         0.959464         0.977097         0.977097
3             555         1.064773         1.054722         1.054722
4             620         1.065229         1.059135         1.059135
5             588         0.996475         1.092069         1.092069
6             512         1.085525         0.972767         0.972767
7             477         1.053381         1.062092         1.062092
8             480         1.030131         1.061721         1.061721
9             599         0.918867         0.887192         0.887192
10            522         1.034096         0.986043         0.986043
11            395         0.896372         0.959533         0.959533

In [50]:
CVS_jan_data = CVS_stock_data[CVS_stock_data['Date'].str.contains("Jan") ]
CVS_feb_data = CVS_stock_data[CVS_stock_data['Date'].str.contains("Feb") ]
CVS_mar_data = CVS_stock_data[CVS_stock_data['Date'].str.contains("Mar") ]
CVS_apr_data = CVS_stock_data[CVS_stock_data['Date'].str.contains("Apr") ]
CVS_may_data = CVS_stock_data[CVS_stock_data['Date'].str.contains("May") ]
CVS_jun_data = CVS_stock_data[CVS_stock_data['Date'].str.contains("Jun") ]
CVS_jul_data = CVS_stock_data[CVS_stock_data['Date'].str.contains("Jul") ]
CVS_aug_data = CVS_stock_data[CVS_stock_data['Date'].str.contains("Aug") ]
CVS_sep_data = CVS_stock_data[CVS_stock_data['Date'].str.contains("Sep") ]
CVS_oct_data = CVS_stock_data[CVS_stock_data['Date'].str.contains("Oct") ]
CVS_nov_data = CVS_stock_data[CVS_stock_data['Date'].str.contains("Nov") ]
CVS_dec_data = CVS_stock_data[CVS_stock_data['Date'].str.contains("Dec") ]

In [51]:
CVS_returns = [monthly_returns(CVS_jan_data), monthly_returns(CVS_feb_data), monthly_returns(CVS_mar_data), monthly_returns(CVS_apr_data), monthly_returns(CVS_may_data), monthly_returns(CVS_jun_data), monthly_returns(CVS_jul_data), monthly_returns(CVS_aug_data), monthly_returns(CVS_sep_data), monthly_returns(CVS_oct_data), monthly_returns(CVS_nov_data), monthly_returns(CVS_dec_data)]

In [52]:
CVS_data.insert(1, "Monthly returns", CVS_returns, True)

In [53]:
CVS_data

    monthly_posts  Monthly returns
0               6         1.103203
1              15         0.873180
2              22         0.925997
3              28         1.130197
4              40         0.951033
5              48         1.031793
6              72         1.055052
7              63         1.145538
8              72         1.045479
9              91         0.920683
10            147         1.096508
11            185         0.815960

In [54]:
Walmart_jan_data = Walmart_stock_data[Walmart_stock_data['Date'].str.contains("Jan") ]
Walmart_feb_data = Walmart_stock_data[Walmart_stock_data['Date'].str.contains("Feb") ]
Walmart_mar_data = Walmart_stock_data[Walmart_stock_data['Date'].str.contains("Mar") ]
Walmart_apr_data = Walmart_stock_data[Walmart_stock_data['Date'].str.contains("Apr") ]
Walmart_may_data = Walmart_stock_data[Walmart_stock_data['Date'].str.contains("May") ]
Walmart_jun_data = Walmart_stock_data[Walmart_stock_data['Date'].str.contains("Jun") ]
Walmart_jul_data = Walmart_stock_data[Walmart_stock_data['Date'].str.contains("Jul") ]
Walmart_aug_data = Walmart_stock_data[Walmart_stock_data['Date'].str.contains("Aug") ]
Walmart_sep_data = Walmart_stock_data[Walmart_stock_data['Date'].str.contains("Sep") ]
Walmart_oct_data = Walmart_stock_data[Walmart_stock_data['Date'].str.contains("Oct") ]
Walmart_nov_data = Walmart_stock_data[Walmart_stock_data['Date'].str.contains("Nov") ]
Walmart_dec_data = Walmart_stock_data[Walmart_stock_data['Date'].str.contains("Dec") ]

Walmart_returns = [monthly_returns(Walmart_jan_data), monthly_returns(Walmart_feb_data), monthly_returns(Walmart_mar_data), monthly_returns(Walmart_apr_data), monthly_returns(Walmart_may_data), monthly_returns(Walmart_jun_data), monthly_returns(Walmart_jul_data), monthly_returns(Walmart_aug_data), monthly_returns(Walmart_sep_data), monthly_returns(Walmart_oct_data), monthly_returns(Walmart_nov_data), monthly_returns(Walmart_dec_data)]

Walmart_data.insert(1, "Monthly returns", Walmart_returns, True)

Walmart_data

    monthly_posts  Monthly returns
0            1213         1.085297
1             409         0.868252
2             513         0.974825
3             555         0.999318
4             620         0.957454
5             588         1.034441
6             512         1.039113
7             477         1.082489
8             480         0.984134
9             599         1.086966
10            522         0.974390
11            395         0.945419

In [55]:
Boeing_jan_data = Boeing_stock_data[Boeing_stock_data['Date'].str.contains("Jan") ]
Boeing_feb_data = Boeing_stock_data[Boeing_stock_data['Date'].str.contains("Feb") ]
Boeing_mar_data = Boeing_stock_data[Boeing_stock_data['Date'].str.contains("Mar") ]
Boeing_apr_data = Boeing_stock_data[Boeing_stock_data['Date'].str.contains("Apr") ]
Boeing_may_data = Boeing_stock_data[Boeing_stock_data['Date'].str.contains("May") ]
Boeing_jun_data = Boeing_stock_data[Boeing_stock_data['Date'].str.contains("Jun") ]
Boeing_jul_data = Boeing_stock_data[Boeing_stock_data['Date'].str.contains("Jul") ]
Boeing_aug_data = Boeing_stock_data[Boeing_stock_data['Date'].str.contains("Aug") ]
Boeing_sep_data = Boeing_stock_data[Boeing_stock_data['Date'].str.contains("Sep") ]
Boeing_oct_data = Boeing_stock_data[Boeing_stock_data['Date'].str.contains("Oct") ]
Boeing_nov_data = Boeing_stock_data[Boeing_stock_data['Date'].str.contains("Nov") ]
Boeing_dec_data = Boeing_stock_data[Boeing_stock_data['Date'].str.contains("Dec") ]

Boeing_returns = [monthly_returns(Boeing_jan_data), monthly_returns(Boeing_feb_data), monthly_returns(Boeing_mar_data), monthly_returns(Boeing_apr_data), monthly_returns(Boeing_may_data), monthly_returns(Boeing_jun_data), monthly_returns(Boeing_jul_data), monthly_returns(Boeing_aug_data), monthly_returns(Boeing_sep_data), monthly_returns(Boeing_oct_data), monthly_returns(Boeing_nov_data), monthly_returns(Boeing_dec_data)]

Boeing_data.insert(1, "Monthly returns", Boeing_returns, True)

Boeing_data

    monthly_posts  Monthly returns
0              21         1.218935
1              28         1.039241
2              26         0.892501
3              18         1.049108
4              31         1.073173
5              31         0.947722
6              58         1.071638
7              53         0.974470
8              53         1.079128
9              81         0.939626
10             61         0.956556
11             62         0.879745

In [56]:
Fedex_jan_data = Fedex_stock_data[Fedex_stock_data['Date'].str.contains("Jan") ]
Fedex_feb_data = Fedex_stock_data[Fedex_stock_data['Date'].str.contains("Feb") ]
Fedex_mar_data = Fedex_stock_data[Fedex_stock_data['Date'].str.contains("Mar") ]
Fedex_apr_data = Fedex_stock_data[Fedex_stock_data['Date'].str.contains("Apr") ]
Fedex_may_data = Fedex_stock_data[Fedex_stock_data['Date'].str.contains("May") ]
Fedex_jun_data = Fedex_stock_data[Fedex_stock_data['Date'].str.contains("Jun") ]
Fedex_jul_data = Fedex_stock_data[Fedex_stock_data['Date'].str.contains("Jul") ]
Fedex_aug_data = Fedex_stock_data[Fedex_stock_data['Date'].str.contains("Aug") ]
Fedex_sep_data = Fedex_stock_data[Fedex_stock_data['Date'].str.contains("Sep") ]
Fedex_oct_data = Fedex_stock_data[Fedex_stock_data['Date'].str.contains("Oct") ]
Fedex_nov_data = Fedex_stock_data[Fedex_stock_data['Date'].str.contains("Nov") ]
Fedex_dec_data = Fedex_stock_data[Fedex_stock_data['Date'].str.contains("Dec") ]

Fedex_returns = [monthly_returns(Fedex_jan_data), monthly_returns(Fedex_feb_data), monthly_returns(Fedex_mar_data), monthly_returns(Fedex_apr_data), monthly_returns(Fedex_may_data), monthly_returns(Fedex_jun_data), monthly_returns(Fedex_jul_data), monthly_returns(Fedex_aug_data), monthly_returns(Fedex_sep_data), monthly_returns(Fedex_oct_data), monthly_returns(Fedex_nov_data), monthly_returns(Fedex_dec_data)]

Fedex_data.insert(1, "Monthly returns", Fedex_returns, True)

Fedex_data

    monthly_posts  Monthly returns
0             139         1.051310
1              96         0.966725
2             136         0.961802
3             102         1.049751
4             107         1.025563
5             117         0.906984
6             157         1.076097
7             179         1.002930
8             480         0.983682
9             599         0.903497
10            522         1.028054
11            395         0.685808

In [57]:
Accenture_jan_data = Accenture_stock_data[Accenture_stock_data['Date'].str.contains("Jan") ]
Accenture_feb_data = Accenture_stock_data[Accenture_stock_data['Date'].str.contains("Feb") ]
Accenture_mar_data = Accenture_stock_data[Accenture_stock_data['Date'].str.contains("Mar") ]
Accenture_apr_data = Accenture_stock_data[Accenture_stock_data['Date'].str.contains("Apr") ]
Accenture_may_data = Accenture_stock_data[Accenture_stock_data['Date'].str.contains("May") ]
Accenture_jun_data = Accenture_stock_data[Accenture_stock_data['Date'].str.contains("Jun") ]
Accenture_jul_data = Accenture_stock_data[Accenture_stock_data['Date'].str.contains("Jul") ]
Accenture_aug_data = Accenture_stock_data[Accenture_stock_data['Date'].str.contains("Aug") ]
Accenture_sep_data = Accenture_stock_data[Accenture_stock_data['Date'].str.contains("Sep") ]
Accenture_oct_data = Accenture_stock_data[Accenture_stock_data['Date'].str.contains("Oct") ]
Accenture_nov_data = Accenture_stock_data[Accenture_stock_data['Date'].str.contains("Nov") ]
Accenture_dec_data = Accenture_stock_data[Accenture_stock_data['Date'].str.contains("Dec") ]

Accenture_returns = [monthly_returns(Accenture_jan_data), monthly_returns(Accenture_feb_data), monthly_returns(Accenture_mar_data), monthly_returns(Accenture_apr_data), monthly_returns(Accenture_may_data), monthly_returns(Accenture_jun_data), monthly_returns(Accenture_jul_data), monthly_returns(Accenture_aug_data), monthly_returns(Accenture_sep_data), monthly_returns(Accenture_oct_data), monthly_returns(Accenture_nov_data), monthly_returns(Accenture_dec_data)]

Accenture_data.insert(1, "Monthly returns", Accenture_returns, True)

Accenture_data

    monthly_posts  Monthly returns
0               9         1.042932
1              10         1.017108
2              14         0.919457
3              23         1.008892
4              14         1.032497
5               6         1.046196
6              10         0.990117
7              15         1.052398
8              17         1.007288
9              34         0.912820
10             32         1.024509
11             18         0.845936

In [ ]:
'''
def CSV_cleanest(CSV_file):
    
    jan_data = pd.DataFrame()
    feb_data = pd.DataFrame()
    mar_data = pd.DataFrame()
    apr_data = pd.DataFrame()
    may_data = pd.DataFrame()
    jun_data = pd.DataFrame()
    jul_data = pd.DataFrame()
    aug_data = pd.DataFrame()
    sep_data = pd.DataFrame()
    oct_data = pd.DataFrame()
    nov_data = pd.DataFrame()
    dec_data = pd.DataFrame()
    
    for entry in CSV_file:
        if Nike_stock_returns[Nike_stock_returns['Date'].str.contains("Jan") ]:
            jan_data.append(entry)
            
        elif Nike_stock_returns[Nike_stock_returns['Date'].str.contains("Feb") ]:
            feb_data.append(entry)
        
        

    return jan_data, feb_data
'''